.gradient-text {
  background-image: linear-gradient(to right, rgb(255, 179, 0), royalblue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.outline-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.outline-text-light {
  -webkit-text-stroke: 1px black;
  color: transparent;
}
.backface-visibility {
  backface-visibility: hidden;
}
html {
  scroll-behavior: smooth;
}
